* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --main-color: #00b9f7;
  --main-padding: 100px;
}
body {
  font-family: "lato", sans-serif;
}
ul {
  list-style: none;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.main-heading {
  text-align: center;
}
.main-heading .head-gift {
  text-align: center;
  color: var(--main-color);
  margin: 0 auto;
}
.main-heading .head-gift .icon-left {
  width: 150px;
  height: 1px;
  background-color: var(--main-color);
  float: left;
  margin-top: 17px;
}
.main-heading .head-gift i {
  font-size: 16px;
  width: 33px;
  height: 33px;
  border: 1px solid var(--main-color);
  line-height: 2;
}
.main-heading .head-gift .icon-right {
  width: 150px;
  height: 1px;
  background-color: var(--main-color);
  float: right;
  margin-top: 17px;
}
@media (min-width: 767px) {
  .main-heading .head-gift,
  .main-heading .head-gift {
    width: 358px;
  }
}
.main-heading h1 {
  color: #000000;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 18px;
}
.main-heading h2 {
  color: #808b8d;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 20px;
}
.main-heading p {
  color: #808b8d;
  font-size: 14px;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .main-heading p {
    margin-left: 10px;
    margin-right: 10px;
  }
}
/* End Container */
.header {
  background-image: url(../images/slider.jpg);
  background-size: cover;
  min-height: 100vh;
  position: relative;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0/65%);
  width: 100%;
  height: 100%;
}
.header .container .head {
  position: absolute;
  color: white;
  left: 50%;
  top: 10%;
  transform: translatex(-50%);
  text-align: center;
}
@media (max-width: 767px) {
  .header .container .head {
    width: 100%;
  }
}
.header .container .head img {
  border: none;
}
.header .container .head p:last-of-type {
  color: #00b9f7;
  text-transform: uppercase;
  font-size: 29px;
  font-weight: 900;
  letter-spacing: 0.03em;
}
.header .container .head h2 {
  font-size: 40px;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

/* Timer */
.header .container .timer {
  display: flex;
  position: absolute;
  left: 50%;
  top: 38%;
  transform: translateX(-50%);
}
@media (max-width: 767px) {
  .header .container .timer {
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    left: 53%;
  }
  .header .container .sub p {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .header .container .timer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(121px, 1fr));
    row-gap: 10px;
  }
  .header .container .head p:last-of-type {
    font-size: 20px;
  }
  .header .container .head h2 {
    font-size: 25px;
  }
  .header .container .sub p {
    margin-top: 55px;
  }
  .header .container .sub .icon {
    display: none;
  }
  .main-heading .head-gift .icon-left {
    width: 100px;
  }
  .main-heading .head-gift .icon-right {
    width: 100px;
  }
}
.header .container .timer .time {
  width: 120px;
  height: 120px;
  border: 2px solid var(--main-color);
  text-align: center;
  margin-right: 30px;
  color: #f7f7f7;
  padding-bottom: 15px;
  padding-top: 5px;
}
.header .container .timer .time h3 {
  font-weight: 400;
  font-size: 60px;
  line-height: 84px;
}
.header .container .timer .time p {
  line-height: 0;
  font-weight: 300px;
  color: var(--main-color);
  margin: 0;
}

/* Subscripe */
.header .container .sub {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 617px) {
  .header .container .sub {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
  }
  .header .container .sub {
    position: absolute;
    top: 70%;
  }
}

.header .container p {
  font-size: 14px;
  color: #fefefe;
  margin: 20px;
}
.header .container .sub form {
  margin-bottom: 15px;
}
.header .container .sub form input[type="email"] {
  width: 270px;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--main-color);
  outline: none;
  padding-left: 10px;
  font-size: 14px;
  color: #808b8d;
  margin-right: -3px;
}
.header .container .sub form input[type="submit"] {
  width: 120px;
  height: 40px;
  color: white;
  padding: 6px 20px 8px 20px;
  background-color: var(--main-color);
  font-size: 19px;
  border: none;
  cursor: pointer;
  /* position: relative; */
}
@media (max-width: 767px) {
  .header .container .sub form input[type="submit"] {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
.header .container .sub .icon i {
  margin-top: 90px;
  margin-left: 6px;
  font-size: 20px;
  line-height: 2;
  width: 40px;
  height: 40px;
  text-align: center;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  transition: 0.5s;
}
.header .container .sub .icon i:hover {
  color: white;
  background-color: var(--main-color);
}
@media (max-width: 767px) {
  .header .container .sub .icon i {
    margin: 0;
  }
}
/* Start Feature */
.feature {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.feature .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

@media (max-width: 767px) {
  .feature .container .contact p {
    margin-bottom: 15px;
  }
  .feature .container .contact {
    display: flex;
    flex-direction: column;
  }
}
.feature .container .contact {
  color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature .container .contact i {
  font-size: 25px;
  border: 2px solid var(--main-color);
  padding: 20px;
  text-align: center;
  transition: 0.5s;
}
.feature .container .contact i:hover {
  background-color: var(--main-color);
  color: white;
}
.feature .container .contact h3 {
  color: black;
  margin: 15px;
}
.feature .container .contact p {
  color: #808b8d;
}

/* Start About Us */
.about-us {
  background-color: #1b1b1b;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.about-us h1 {
  color: white;
}
.about-us .container .character {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .about-us .container .character {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
  }
}
.about-us .container .character .lucy .image {
  background-image: url(../images/01.jpg);
  width: 306px;
  height: 306px;
  position: relative;
}
.about-us .container .character .smith .image {
  background-image: url(../images/02.jpg);
  width: 306px;
  height: 306px;
  position: relative;
}
.about-us .container .character .shon .image {
  background-image: url(../images/03.jpg);
  width: 306px;
  height: 306px;
  position: relative;
}
.about-us .container .character .image {
  border: 3px solid var(--main-color);
}
.about-us .container .character .text {
  text-align: center;
  line-height: 2;
}
.about-us .container .character .text h3 {
  color: #f7f7f7;
  text-transform: uppercase;
  font-size: 24px;
}
.about-us .container .character .text p {
  color: var(--main-color);
  font-size: 18px;
}

.about-us .container .character .image::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0 0 0);
  top: 0;
  left: 0;
  opacity: 0;
}
.about-us .container .character .image:hover {
  opacity: 0.2;
  transition: 0.3s ease;
}
@media (max-width: 350px) {
  .about-us .container .character .lucy .image,
  .about-us .container .character .smith .image,
  .about-us .container .character .shon .image {
    width: 250px;
    background-position: center;
    height: 250px;
  }
}
/* End About Us */

/* Start Get-In-Touch */
.get {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.get .cootainer {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.get .container .content form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.get .container form .main {
  flex-basis: 48%;
  padding: 5px;
  border: 1px solid var(--main-color);
  outline: none;
}
@media (max-width: 767px) {
  .get .container form .main {
    margin-bottom: 30px;
    flex-basis: 100%;
  }
  .get .container form textarea {
    margin-bottom: 100px;
  }
}

.get .container form textarea {
  display: flex;
  flex-basis: 100%;
  padding: 5px;
  margin-top: 30px;
  height: 200px;
  border: 1px solid var(--main-color);
  outline: none;
}
.get .container form .main:hover,
.get .container form textarea:hover {
  box-shadow: 0px 0px 3px var(--main-color);
}
.get .container form input[type="submit"] {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 170px);
  color: white;
  background-color: var(--main-color);
  border: none;
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
  margin: 0 auto;
}
/* End Get-In-Touch */

/* Start Footer */
.footer {
  background-color: #262626;
  padding: 40px 0;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 14px;
}
.footer span a {
  color: var(--main-color);
  font-weight: bold;
  text-decoration: none;
  transition: 0.5s;
}
.footer span a:hover {
  color: #337ab7;
}
/* End Footer */
